label{
    font-size: 30px;
    font-weight: 600;
}

.view_container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.view_container .title_section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    position: relative;
}

.view_container .title_section .right_part {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction:column;
    gap: 10px;
}

.view_container .title_section .right_part .imagePreview{
    width: 100%;
    height: 100%;
}

.view_container .title_section img {
    width: 100%;
    border-radius: 10px;
}

.view_container .title_section .right_part .custom-file-upload {
    background: linear-gradient(#FF6740, #ed4c5e);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    transform: translateX(50%);
    cursor: pointer;
    transition: all 0.3s ease;
}

.view_container .title_section .right_part .custom-file-upload:hover{
    background-color: #cd593c;
}

.view_container .title_section .left_part {
    width: 80%;
    word-wrap: break-word;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.view_container .title_section .left_part .title_story {
    font-size: 30px;
    font-weight: 700;
}

.view_container .title_section .left_part .title_story > input {
    border: none;
    outline: none;
    font-size: 16px;
}

.view_container .title_section .description_section textarea{
    outline: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    resize: none;
    height: 200px;
}

.view_container .description_section {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.view_container .description_section .update_date {
    font-size: 25px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.view_container .description_section .update_date p {
    background-color: #FF6740;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 0;
}

.view_container .bottom_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

/*==============================LIST GENRE==============================*/

.view_container .title_section .left_part .list_tag_genres,
.view_container .title_section .left_part .author_story .list_author,
.view_container .title_section .left_part .author_story .list_artist
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
}

.view_container .title_section .left_part .list_tag_genres .genre_item,
.view_container .title_section .left_part .author_story .list_author .author_item,
.view_container .title_section .left_part .author_story .list_artist .artist_item{
    display: flex;
}

.view_container .title_section .left_part .list_tag_genres .genre_item i,
.view_container .title_section .left_part .author_story .list_author .author_item i,
.view_container .title_section .left_part .author_story .list_artist .artist_item i{
    cursor: pointer;
    transform: translate(-5px, -5px);
    color: red;
}

.view_container .title_section .left_part .list_tag_genres .genre_name,
.view_container .title_section .left_part .author_story .list_author .author_name,
.view_container .title_section .left_part .author_story .list_artist .artist_name{
    background-color: #2C2C2C;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.view_container .title_section .left_part .list_tag_genres .genre_name:hover,
.view_container .title_section .left_part .author_story .list_author .author_name:hover,
.view_container .title_section .left_part .author_story .list_artist .artist_name:hover{
    background-color: #FF6740;
}

/*==============================SELECT==============================*/
.view_container .left_part .select_genres{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.select2-container--default .select2-selection--single {
    background-color: #191A1C; 
    border: none;
    border-radius: 4px; 
    padding: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #fff;
}


/* Styling the dropdown arrow */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 50%;
    transform: translateY(-50%);
    color: white;
}

.select2-container--default .select2-dropdown {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: #191A1C;
}

/* Styling the dropdown items */
.select2-container--default .select2-results__option {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 10px;
}

/* Styling the hovered dropdown items */
.select2-container--default .select2-results__option--highlighted {
    color: #333;
    border-radius: 10px;
    background: linear-gradient(#FF6740, #ed4c5e);
    background-color: #FF6740 !important;
}

/* Styling the selected item in the select box */
.select2-container--default .select2-selection__rendered {
    line-height: 38px;
    padding-left: 5px;
    color: white;
}

/* Styling placeholder text */
.select2-container--default .select2-selection__placeholder {
    color: white;
}

.view_container .title_section .left_part .submit_btn {
    width: 30%;
    font-size: 40px;
    font-weight: 600;
    align-self: flex-end;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: #FF6740;
    color: white;
    transition: all 0.3s ease;
}

.view_container .title_section .left_part .submit_btn:hover{
    background-color: #cd593c;
}

.view_container .title_section .right_part .upload_btn {
    display: none;
}

/*==============================LIST CHAPTER==============================*/


.view_container .bottom_section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.view_container .bottom_section .list_chapter_section {
    border-radius: 10px;
    padding: 10px;
}

.view_container .bottom_section .list_chapter_section {
    width: 68%;
    display: flex;
    flex-direction: column;
}

.view_container .bottom_section .list_chapter_section .list_chapter {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 500px;
}

.view_container .bottom_section .list_chapter_section .list_chapter a {
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    transition: all 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view_container .bottom_section .list_chapter_section .list_chapter a:nth-child(odd) {
    background-color: #495058;
}

.view_container .bottom_section .list_chapter_section .list_chapter a:hover {
    background-color: #616a75;
}

.view_container .bottom_section .list_chapter_section .list_chapter a p {
    margin-bottom: 0;
}

.view_container .bottom_section .list_chapter_section .header_list_chapter{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view_container .bottom_section .list_chapter_section .header_list_chapter a{
    text-decoration: none;
    font-size:20px;
    font-weight: 600;
    background: linear-gradient(#FF6740, #ff406a);
    color: white;
    padding: 10px;
    border-radius: 5px;
}