* {
    box-sizing: border-box;
}

.menu {
    font-size: 15px;
    align-self: center;
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    height: 50vh;
}
.menu--wrapper{
    counter-reset: count;
    display: flex;
    z-index: 1;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    scroll-behavior: smooth;
}

.menu--item {
    counter-increment: count;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0 10px;
    border-radius: 10px;
}

.menu--item:nth-child(n+20):before
{
    content: counter(count);
}

figure {
    position: absolute;
    z-index: 1;
    display: block;
    user-select: none;
    -webkit-appearance: none;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    transform-origin: center;
    border-radius: 10px;
}

figure img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    transform-origin: center;
    filter: blur(25px);
    border-radius: 10px;
}

figure .bg_overlay{
    position: absolute;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 2;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

figure:before {
    position: absolute;
    z-index: 2;
    bottom: 1vw;
    left: 1vw;
    display: inline-block;
    content: "0" counter(count);
    color: #ffffff;
    font-size: 3vw;
}

.overlay_btn{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    font-size: 40px;
}
.overlay_btn i{
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
}
.overlay_btn i:hover{
    background-color: #808080;
}

/*CONTAINER*/
.menu--item--container{
    position: absolute;
    left: 5%;
    width: 90%;
    height: 90%;
    display: flex;
    bottom: 0;
    gap: 10px;
    padding: 20px 0 10px;
    z-index: 2;
    transition: none;
}

.menu--item--container .left_item_section{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.left_item_section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    position: absolute;
}

.menu--item--container .right_item_section {
    width: 80%;
    height: 100%;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(6, 1fr);
}
.right_item_section .item_title {
    font-size: 50px;
    font-weight: bold;
    word-wrap: break-word;
}

/*==============================List Genre==============================*/
.list_tag_genres {
    grid-row: 2;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 5px;
}

.list_tag_genres .genre_name {
    background-color: #2C2C2C;
    border-radius: 5px;
    padding: 5px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.right_item_section .item_description{
    grid-row: 3/6;
}

.right_item_section .list_author{
    grid-row: 6;
    display: inline-flex;
    flex-direction: row;
    gap: 15px;
    font-size: 20px;
    font-style: italic;
    height: 100%;
    align-items: flex-end;
}