.grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* Khoảng cách giữa các item */
}

.grid-container .grid-item{
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-color: #2c2c2c;
}

.grid-container .grid-item .grid-item-overlay{
    position: absolute;
    bottom: 0;
    font-size: 20px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container .grid-item .grid-item-overlay a{
    margin-top: 50%;
    text-decoration: none;
    color: white;
}


.grid-container .grid-item img{
    object-fit: cover;
    background-position: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.pagination_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.pagination_container ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
}

.pagination_container ul li{
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.pagination_container ul li:hover{
    background-color: #808080;
}

.pagination_container ul li.active{
    background-color: #ff6a00;
}

#previousBtn, #nextBtn{
    background-color: white;
    a{
         color: #ff6a00;
     }
}

#previousBtn:hover, #nextBtn:hover{
    background-color: #808080;  
}

.pagination_container ul li a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 10px;
}

.pagination_item.disabled a {
    pointer-events: none;
    color: #ccc; /* Màu sắc của liên kết bị vô hiệu hóa */
}

/*==============================SEARCH FILTER==============================*/
.search_section{
    width: 100%;
    position: relative;
    padding: 20px 0;
    z-index: 1;
}

.search_section #filter_search{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 10px;
}

#filter_search .search_keyword {
    display: flex;
    width: 100%;
}

#filter_search span {
    font-size: 1.5rem;
}

#filter_search .search_icon {
    position: absolute;
    left: 1rem;
    transform: translateY(50%);
}

#filter_search .clear_icon {
    position: absolute;
    right: 1rem;
    transform: translateY(50%);
    display: none;
    cursor: pointer;
}

#filter_search .clear_icon:hover{
    color: #cfcfcf;
}

.search_keyword #search_bar {
    width: 100%;
    background-color: #2c2c2c;
    font-size: 1.5rem;
    padding: 1rem 3.5rem;
    border-radius: 10px;
}

#filter_search .filter_box{
    width: 100%;
    height: auto;
    background-color: #2c2c2c;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.filter_box .select_box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20%;
    height: auto;
}

.select_box .box {
    width: 100%;
    height: 40px;
    background-color: #464646;
    border-radius: 10px;
}

.select_box .box_list_select {
    width: 300%;
    position: absolute;
    height: auto;
    padding: 10px;
    background-color: #464646;
    top: 110%;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
    pointer-events: none;
    user-select: none;
}

.box_list_select.appear{
    opacity: 1;
    pointer-events: all;
}

.box_list_select label{
    font-size: 30px;
}

.box_list_select .list_all_genres{
    display: flex;
    flex-wrap:wrap;
    overflow-wrap:normal;
    gap: 10px;
}

.list_all_genres .genre_item{
    background-color: #000000;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid transparent;
}

.list_all_genres .genre_item:hover{
    cursor: pointer;
}

.list_all_genres .genre_item.include{
    border-color: #03ff00;
    background-color: #015b00;
    color: #03ff00;
}
.list_all_genres .genre_item.notInclude{
    border-color: #fe0404;
    background-color: #570000;
    color: #fe0404;
}