<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MangaASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MangaASP.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/_AuthLayout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="main_container">
        <div class="main_content">
            <main role="main" class="main">
                <div class="section_auth">
                    <div class="section_form">
                        @RenderBody()
                    </div>
                    <div class="section_static">
                        <div class="chibiAnime">
                            <img src="~/Image/InLayout/Nadeshiko_Chibi.png" />
                        </div>
                        <div class="webname">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/Image/Brand/Omelette Logo png.png" alt="Brand" />
                            </a>
                        </div>
                        <div class="slogan">
                            <p>Welcome to OMELETTE</p>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="~/js/scriptAuth.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
