@using Microsoft.AspNetCore.Identity
@using Manga_Omelette.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	<link rel="stylesheet" href="~/css/Ultilities/Notification_popup_container.css"/>
}

@if (SignInManager.IsSignedIn(User))
{
	<div class="notification_container_popup">
		<div class="notification_container_popup_header">
			<h2>Notifications</h2>
			<button id="mark_read_btn" class="btn btn-secondary">Mark all as Read</button>
		</div>
		<h3>NEW</h3>
		<div class="notis_section" id="new_notis"></div>
		<div class="notis_section" id="system_notis">
			<h3>System</h3>
		</div>
		<div class="notis_section" id="admin_notis">
			<h3>Admin</h3>
		</div>
	</div>
}