@using Microsoft.AspNetCore.Identity
@using Manga_Omelette.Areas.Identity.Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
	<link rel="stylesheet" href="~/css/Ultilities/Notification_popup_container.css"/>
}

@if (SignInManager.IsSignedIn(User))
{
	<div class="notification_container_popup">
		<h2>Notifications</h2>
		<div class="notis_section">
			<h3>System</h3>
			<div class="notification_item_popup">
				<div class="notification_item_col">
					<div class="notification_header_popup">
						<div class="notification_title_popup">
							BLA BLAH BLAH
						</div>
					</div>
					<div class="notification_content_popup">
						Lorem ipsum odor amet, consectetuer adipiscing elit. Posuere auctor orci eleifend, porta eleifend maximus fringilla diam. Sem justo dui consectetur sollicitudin in iaculis inceptos. Himenaeos habitasse adipiscing sollicitudin ante efficitur mattis. Netus sociosqu hac suscipit vehicula; maximus suspendisse parturient hac. Efficitur adipiscing vehicula tortor eros parturient conubia ex. Purus fringilla sapien dictumst platea libero tristique. Aliquet ullamcorper molestie imperdiet habitasse consequat euismod eros vel dictumst.
					</div>
					<div class="notification_time_popup">
						DATE TIME
					</div>
				</div>
				<div class="notification_item_col_sign">
				</div>
			</div>
		</div>
		<div class="notis_section">
			<h3>Admin</h3>
			<div class="notification_item_popup">
				<div class="notification_item_col">
					<div class="notification_header_popup">
						<div class="notification_title_popup">
							BLA BLAH BLAH
						</div>
					</div>
					<div class="notification_content_popup">
						Lorem ipsum odor amet, consectetuer adipiscing elit. Posuere auctor orci eleifend, porta eleifend maximus fringilla diam. Sem justo dui consectetur sollicitudin in iaculis inceptos. Himenaeos habitasse adipiscing sollicitudin ante efficitur mattis. Netus sociosqu hac suscipit vehicula; maximus suspendisse parturient hac. Efficitur adipiscing vehicula tortor eros parturient conubia ex. Purus fringilla sapien dictumst platea libero tristique. Aliquet ullamcorper molestie imperdiet habitasse consequat euismod eros vel dictumst.
					</div>
					<div class="notification_time_popup">
						DATE TIME
					</div>
				</div>
				<div class="notification_item_col_sign">
				</div>
			</div>
		</div>
	</div>
}