@{
    <link rel="stylesheet" href="~/css/Ultilities/Search_result_popup.css" />
}

<div class="searchHeader">
    <input id="searchHeader" placeholder="Search" autocomplete="off" />
    <span class="clear_input"><i class="bi bi-x-circle-fill"></i></span>
    <button class="searchBtn"><i class="bi bi-search"></i></button>
</div>
<div class="search_result">
    <div class="instruction_search">
        <p>Enter a query...</p>
    </div>
    <ul></ul>
</div>