@model Manga_Omelette.Models_Secondary.CreateChapterViewModel

@{
    ViewBag.Title = "Add new Chapter";
    Layout = "_SuperADMINLayout";
            <link rel="stylesheet" href="~/css/PageCSS/CreateChapter.css" />
}

<h2>Story: @Model.story.Title</h2>
<h1>Create New Chapter</h1>
<div class="view_container">
    <form method="post" enctype="multipart/form-data" class="form_container">
        <div class="input_title">
            <label asp-for="chapter.Title" class=""></label>
            <input asp-for="chapter.Title" class="form-control"/>
            <span asp-validation-for="chapter.Title" class="text-danger"></span>
            <input asp-for="story.Id" type="hidden"/>
        </div>
        <div class="upload_images">
            <input asp-for="imageFiles" id="fileUpload" class="upload_btn" type="file" multiple accept="image/*">
            <div class="list_image_upload" id="list_image_upload"></div>
        </div>
        <input type="submit" class="btn btn-primary"/>
    </form>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/ScriptCreateChapter/main_script.js"></script>
}