@model Manga_Omelette.Models_Secondary.EditChapterViewModel

@{
    ViewBag.Title = "Edit Chapter";
    Layout = "_SuperADMINLayout";
    <link rel="stylesheet" href="~/css/AdminCSS/EditStory.css" />
}

<form method="post" enctype="multipart/form-data" class="form_container">
    <div class="input_title">
        <label asp-for="chapter.Title" class=""></label>
        <input asp-for="chapter.Title" class="form-control" />
        <span asp-validation-for="chapter.Title" class="text-danger"></span>
        <input asp-for="chapter.StoryId" type="hidden"/>
        <input asp-for="chapter.Id" type="hidden" />
    </div>
    <div class="upload_images">
        <input asp-for="imageFiles" id="fileUpload" class="upload_btn" type="file" multiple accept="image/*">
        <div class="list_image_upload" id="list_image_upload"></div>
    </div>
    <input type="submit" class="btn btn-primary" />
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="~/js/ScriptEditChapter/main_script.js"></script>
}