@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}
<style>
    .btn-primary {
        background-color: #FF6740;
        border: #FF6740;
        transition: all 0.3s ease;
    }

    .btn-primary:hover {
        background-color: #D95735;
    }

    .form-control {
        font-size: 20px;
    }

    .form-label {
        color: black;
    }
    .btn_section{
        display: flex;
        gap: 20px;
    }
    p{
        font-size: 20px;
    }
</style>
<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <div class="btn_section">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary" type="submit">Download</button>
            </form>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
