@using MangaASP.Models
@model IEnumerable<Story>
@{
    ViewData["Title"] = "Advance Search";
    <link rel="stylesheet" href="/css/PageCSS/SearchView.css"/>
}

<div class="text-center">
    <h1 class="display-4">ADVANCE SEARCH PAGE</h1>
</div>

<div class="search_section">
    <form id="filter_search">
        <div class="search_keyword">
            <span class="search_icon"><i class="bi bi-search"></i></span>
            <input id="search_bar" placeholder="Search..." autocomplete="off"/>
            <span class="clear_icon"><i class="bi bi-x-circle-fill"></i></span>
        </div>
        <div class="filter_box"></div>
        <div class="action_btn"></div>
    </form>
</div>

<div class="story_grid">
    <partial name="PartialView/_StoryGrid.cshtml" />
</div>

@section Scripts{
    <script src="~/js/script_pagination.js"></script>
    <script type="module" src="~/js/ScriptSearchView/main_script.js"></script>
}