@model Manga_Omelette.Models_Secondary.ListNotificationsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    <link rel="stylesheet" href="/css/pagination.css" />
}

<div class="text-center">
    <h1 class="display-4">NOTIFICATION PAGE</h1>
</div>

<div class="type_notification">
    <a data-tab="system" class="tab_link">System</a>
    <a data-tab="admin" class="tab_link">Admin</a>
</div>


<div class="notification_container">
    <partial name="ListNotificationPartial.cshtml"/>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var isInProgress = false;
            var loadedTab = {};

            $('.type_notification').on('click', '.tab_link', function (e) {
                e.preventDefault();
                var tab = $(this).data('tab');
                
                if(loadedTab[tab]){
                    $('.notification_container').html(loadedTab[tab]);
                    return;
                }

                if (isInProgress) return;
                isInProgress = true;

                $.ajax({
                    url: '@Url.Action("Index", "Notifications")',
                    type: 'GET',
                    data: { tab: tab},
                    success: function(response){

                        var $responseHtml = $(response);
                        var tableHtml = $responseHtml.find('.notification_container').html();

                        $('.notification_container').html(tableHtml);
                        loadedTab[tab] = tableHtml;
                    },
                    error: function(){
                        alert('Failed to load notifications.');
                    },
                    complete: function () {
                        isInProgress = false;
                    }
                })
            })

            $('.notification_container').on('click', '.pagination_link', function (e) {
                e.preventDefault();

                var page = $(this).data('page');
                var type = $(this).data('type');

                var data = type === "system" ? { pageSystem: page } : { pageAdmin: page };

                $.ajax({
                    url: '@Url.Action("Index", "Notifications")',
                    type: 'GET',
                    data: data,
                    success: function(response){
                        var $responseHtml = $(response);
                        var tableHtml = $responseHtml.find('.notification_container').html();

                        $('.notification_container').html(tableHtml);
                    },
                    error: function () {
                        alert('Failed to load notifications.');
                    }
                })
            })
        })
    </script>
}