@model Manga_Omelette.Models_Secondary.ListNotificationsViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    <link rel="stylesheet" href="/css/pagination.css" />
    <link rel="stylesheet" href="/css/PageCSS/NotificationsIndex.css" />
}

<div class="type_notification">
    <a data-tab="system" id="system_tab" class="tab_link active">System</a>
    <a data-tab="admin" id="admin_tab" class="tab_link">Admin</a>
</div>


<div class="notification_container">
    <partial name="ListNotificationPartial.cshtml"/>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var isInProgress = false;
            var loadedTab = {};

            $('.type_notification').on('click', '.tab_link', function (e) {
                e.preventDefault();
                var tab = $(this).data('tab');

                $('.tab_link').removeClass('active');

                $(this).addClass('active');

                var tab_id = $(this).attr('id');
                if (tab_id === "system_tab") {
                    $('.type_notification').removeClass('active-admin').addClass('active-system');
                } else if (tab_id === "admin_tab") {
                    $('.type_notification').removeClass('active-system').addClass('active-admin');
                }

                if(loadedTab[tab]){
                    $('.notification_container').html(loadedTab[tab]);
                    return;
                }

                if (isInProgress) return;
                isInProgress = true;

                $.ajax({
                    url: '@Url.Action("Index", "Notifications")',
                    type: 'GET',
                    data: { tab: tab},
                    success: function(response){

                        var $responseHtml = $(response);
                        var tableHtml = $responseHtml.find('.notification_container').html();

                        $('.notification_container').html(tableHtml);
                        loadedTab[tab] = tableHtml;
                    },
                    error: function(){
                        alert('Failed to load notifications.');
                    },
                    complete: function () {
                        isInProgress = false;
                    }
                })
            })

            $('.notification_container').on('click', '.pagination_link', function (e) {
                e.preventDefault();

                var page = $(this).data('page');
                var type = $(this).data('type');

                var data = type === "system" ? { pageSystem: page } : { pageAdmin: page };

                $.ajax({
                    url: '@Url.Action("Index", "Notifications")',
                    type: 'GET',
                    data: data,
                    success: function(response){
                        var $responseHtml = $(response);
                        var tableHtml = $responseHtml.find('.notification_container').html();

                        $('.notification_container').html(tableHtml);
                    },
                    error: function () {
                        alert('Failed to load notifications.');
                    }
                })
            })
        })
    </script>
}